{% extends "base.html" %}

{% block title %} Aroma - About {% endblock %}

{% block content %}
    <h2 class="cream_text">About us</h2>
    <br>
    <legend class="cream_text border-bottom mb-4">Information</legend>
    <b1 class="cream_text">
        <b>Aroma</b> provides you with endless choices of food recipes!
        <br><br>
        With all recipe results delicately woven to suit your ingredients and packed with custom options to suit your food preferences, we guarantee nothing but the best food selection experience.
    </b1>
    <br><br>

{% endblock content %}