{% extends "base.html" %}

{% block title %} Aroma - Partner with us {% endblock %}

{% block content %}

    <!-- Contact info -->
    <h2 class="cream_text">Partner with us</h2>
    <br>
    
    <legend class="cream_text border-bottom mb-4">Contact info</legend>
    <b1 class="cream_text">
        <b>Email:</b> contactus@foodstuff.com<br>
        <b>Phone:</b> xxx xxx xxx<br><br>
        <b>Office hours:</b><br>
        Mon-Fri (8am-8pm)<br>
        Sat-Sun (10am-6pm)
    </b1>
    <br><br>

{% endblock content %}