<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='supplier.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <title> {% block title %}{% endblock %} </title>
</head>
<body>

    <!-- Navbar stuff -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">

            <!-- Navbar Left Side -->
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('supplier_home') }}"><img class="foodstuff-img-navbar" src="{{ url_for('static',filename='pics/'+'aroma.png') }}"><b> AROMA</b></a>
            </div>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="btn btn-success" href="{{ url_for('add_ingredient') }}">Add An Ingredient</a>
              <a class="nav-item nav-link" href="{{ url_for('supplier_account') }}" id="account-navbar">Account</a>
              <a class="nav-item nav-link" href="{{ url_for('logout') }}" id="logout-navbar">Logout</a>
            </div>

          </div>
        </div>
      </nav>
    </header>

  <!-- #region Login Modal -->
  <div id="login-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span>
          <span id="login-modal-close" class="close">&times;</span> 
          <h2>Login</h2>
      </span>
      
      <!-- #region Login Content -->

        <div class="content-section">
          <!-- All required fields for login -->
          <form method="POST" action="">
              <fieldset class="form-group">

                  <!-- Email -->
                  <div class="form-group">
                      <div class="form-control-label">Email</div>
                      <input class="form-control form-control-lg" placeholder="Email" id="login-email">
                  </div>

                  <!-- Password -->
                  <div class="form-group">
                    <div class="form-control-label">Password</div>
                    <input type="password" class="form-control form-control-lg" placeholder="Password" id="login-password">
                  </div>
                  <div style="display:none" class="alert alert-danger" id="login-modal-error" role="alert">
                    <div>Incorrect Email or Password. Please try again</div>
                  </div>

                  <!-- Remember me -->
                  <div class="form-check">
                      <input type="checkbox" class="form-check-input">
                      <div class="form-check-label">Remember Me</div>
                  </div>
              </fieldset>

              <!-- Submit button -->
              <div class="btn btn-outline-danger" id="loginsubmit">
                  Submit
              </div>

              <!-- Forgot password -->
              <small class="text-muted ml-0">
                  <a href="{{ url_for('reset_request') }} " style="color:rgb(190, 51, 51);">Forgot Password?</a>
              </small>
          </form>
      </div>
      <!-- #endregion -->
    </div>
  
  </div> 

    <main role="main">
      <div class="row">
          <!-- Actual page content -->
          {% block content %}{% endblock %}
      </div>
    </main>

  <!-- jQuery, Popper.js, Bootstrap JS -->
  <script src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="module" src="{{ url_for('static', filename='base.js') }}"></script>

</body>

<footer class="footer">
  <div class="container">
    <span style="color: rgb(209, 191, 179);">Created by Hi-5-Proj.</span>
    <a href="{{ url_for('about')}}" style="color: rgb(255, 245, 238);">About us</a>
  </div>
</footer>

<!-- Mainly for appending page specific javascript -->
{% block tail %}{% endblock %} 

</html>
